.all-blogs{
    box-sizing: border-box;
    display: grid;
    width: 100%;
    padding: 0.4em;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 1em;
    @media (max-width:620px){
        width: 100%;
        margin: 0;
    }

}
