
@import './variables.scss';


.filter{
    box-sizing: border-box;
    width: 85%;
    margin: 1rem 7.5% 0 7.5%;
    max-width: 100%;
    padding: .8em;
    @media(max-width:620px){
        width: 100%;
        margin: 0;   
    }
}

.form{
    box-sizing: border-box;
    width: 100%;
    margin-top: .8em;
}

.input{
    width: 70%;
    margin: 0 30% 0 0;
}
.filtertags{
    border: 1px solid lightgrey;
    box-sizing: border-box;
    width: 60%;
    max-width: 100%;
    padding: .1em;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));

    @media screen and (max-width:$mobile) {
        width: 100%;
    }
}


.blogcount{
    font-size: .89em;
}