
@import './variables.scss';


.filter{
    box-sizing: border-box;
    width: 85%;
    margin: 1rem 7.5% 0 7.5%;
    max-width: 100%;
    padding: .8em;
    @media(max-width:620px){
        width: 100%;
        margin: 0;   
    }
    h1{
        font-size: $h1;
        font-weight: 500;
    }
    p{
        font-size: $body-font-size;
    }
}

.form{
    box-sizing: border-box;
    width: 100%;
    margin-top: .8em;
}

.input{
    width: 70%;
    margin: 0 30% 0 0;
}
.filtertags{
    box-sizing: border-box;
    width: 80%;
    max-width: 100%;
    padding: .1em;
    display: flex;
    justify-content: flex-start;

    @media screen and (max-width:$mobile) {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    }
}


.blogcount{
    font-size: .89em;
}