/* Containers */

$x-small: 720px;
$small: 800px;
$medium: 1200px;
$large: 1300px;

/* Breakpoints */

$mobile: 620px;
$tablet: $small;
$desktop: $medium;

$width: 800px;

$font-size: 1rem;
$body-font-size: 1.25rem;
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: #454545;
$light-font-color: rgba(0, 0, 0, 0.6);
$font-family: Helvetica Neue, 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, Arial,
  sans-serif;
$line-height: 1.6;

// Headings
$heading-font-color: #73a99c;
$heading-font-weight: 500;
$heading-font-family: 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, Arial,
  sans-serif;
$heading-line-height: 1.3;

// Mobile heading font size
$h1-mobile: 1.85rem;
$h2-mobile: 1.7rem;
$h3-mobile: 1.5rem;
$h4-mobile: 1.3rem;
$h5-mobile: 1.2rem;

// Heading font size
$h1: 2.5rem;
$h2: 2.1rem;
$h3: 1.85rem;
$h4: 1.5rem;
$h5: 1.4rem;


/* Code */

$code-color: $font-color;
$code-size: 14px;
$code-family: Menlo, monospace;
$code-background: transparent;

$code-font-family: Menlo, 'Roboto Mono', Courier New, monospace;
$code-font-color: #b3b9c5;
$string: #92d192;
$variable: #f2777a;
$property: #abb2bf;
$number: #fca369;
$operator: #ac8d58;
$punctuation: #d5d8df;
$comment: #848991;
$function: #62cfcf;
$keyword: #ffeead;
$attribute: #ffd479;
$class: #e1a6f2;
$tag: #6ab0f3;
$error: #f2777a;