@import './../helpers/variables.scss';

.Blogs{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 1em;

    p{
        font-size: 1.3rem;
    }
}

.notice{
    font-size: $body-font-size;
    margin: 2rem;
}
.note{
    max-width: 15%;
    margin: 1.5em 42.5% 1.5em 42.5%;
    text-align: center;
    padding: .1em;

    a{
        p{
            background: #0ba4b8;
            border-radius: 8px;
            padding: .2rem;;
        }
    }
    a:hover{
        color: #131313;
        text-decoration: none;
        
    }

    @media (max-width:800px) {
        max-width: 200px;
        margin: 1.5rem 30% 1.5rem 30%;

    }
    @media(max-width:620px) {
        max-width:150px;
        margin: 1.5rem 30% 1.5rem 30%;
    }
}




