.Blogs{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 1em;

    p{
        font-size: 1.3rem;
    }
}

.Note{
    width: 10%;
    margin: 1.5em 45% 1.5em 45%;
    text-align: center;
    padding: .1em;

    a{
        text-transform: none;
        color: inherit;
        h3{
            background: plum;
            border-radius: 8px;
            padding: .2rem;;

            &:hover{
                background: lightpink;
            }
        }
    }
    a:hover{
        color: #131313;
        text-decoration: none;
        
    }

    @media(max-width:700px) {
        width:40%;
        margin: 0 30% 0 30%;
    }
}




