//----------
//contact
//---------
.contact {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
  gap: 1em;
  font-size: $body-font-size;
}

.msg {
  width: 100%;
  text-align: center;
  font-size: $body-font-size;
  p {
    margin: 0 0 0.4rem 0;
  }
}

/* SOCIAL */

.social {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100%;

  h2 {
    font-weight: 400;
  }
}

.icons {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  text-align: center;

  span {
    cursor: pointer;
    margin: 1em;
  }
}

//----------
//form
//---------

.form {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.form-div {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

.main-form {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: 0.4em;
  display: flex;
  flex-flow: column;
}

.sent {
  padding: 0.3rem;
  box-sizing: border-box;
  width: 90%;
  margin: 0 5% 0 5%;
  max-width: 100%;
  background-color: lightgreen;
  color: black;

  p {
    font-size: $body-font-size;
    text-align: center;
  }
}

.not-sent {
  padding: 0.3rem;
  box-sizing: border-box;
  width: 90%;
  margin: 0 5% 0 5%;
  max-width: 100%;
  background-color: lightcoral;
  color: black;

  p {
    font-size: $body-font-size;
    text-align: center;
  }
}

//----------
//form input
//---------
.input-wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  box-sizing: border-box;
  margin: 0;
  font-size: $body-font-size;
}

.input-box {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 80%;
  padding: 0.3rem;

  input {
    box-sizing: border-box;
    padding: 0.5rem;
    width: 90%;
  }
}

.field-error {
  font-size: 0.75rem;
  color: rgb(216, 79, 55);
}

//-----------------
//footer
//----------------
.footer {
  width: 100%;
  min-height: 22vh;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  position: relative;
  bottom: 0;
  // height: 18vh;
  margin-top: -15vh;
  clear: both;
  p {
    font-size: 1.35rem;
  }

  @media screen and (max-width: $mobile) {
    justify-content: flex-start;
    min-height: 30vh;
  }
}

.first {
  display: flex;
  justify-content: space-evenly;
  margin: 1em;

  a {
    cursor: pointer;
  }

  button {
    border: none;
    background: none;
    color: inherit;
  }
}

.second {
  //   border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8em;

  .built {
    box-sizing: border-box;
    margin: 0 1rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      margin: 0 1rem 0 0;
    }
  }
}

@media screen and (max-width: $mobile) {
  .footer {
    margin-bottom: 2.5em;
  }

  .first {
    justify-content: space-between;
  }

  .second {
    flex-direction: column-reverse;
  }
}
