.footer{
    width: 100%;
    max-width: 100%;
    margin-top: auto;
    box-sizing: border-box;
    display: flex;
    clear: both;
    position: relative;
    bottom: 0;
    flex-flow: column;
    p{
        font-size: 1.35rem;;
    }
    border-top: 1px solid #b1b1b1;


}

.first{
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
    a{
        cursor: pointer;
    }
}

.second{
    text-align: center;
    margin: .8em;

}

@media screen and (max-width:700px) {
    .footer{
        margin-bottom: 3em;
    }

    .first{
        justify-content: space-between;
    }
}