.Wrapper{
  box-sizing: border-box;
  width: 85%;
  margin: 0 7.5% 0 7.5%;
  min-height: 100%;
  height: 65vh;
  max-width: 100%;
  min-height: calc(100vh - 360px);

  @media(max-width: 700px){
    width: 100%;
    margin: 0;
    height: 50vh;
  }
}

.Home{
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  @media (max-width:700px){
    .Home{
      flex-flow: column;
    }
  }
}


// Main content
.Info{
  box-sizing: border-box;
  width: 50%;
  margin: 0 25% 0 25%;
  text-align: center;
  h1{
    font-size: 3rem;
    font-weight: lighter;
  }
  p{
    font-size: 1.5rem;
  }

  .Intro{
    margin-top: 2em;
  }
  @media (max-width:700px) {
    width: 80%;
    margin: 0 10% 0 10%;
    h1{
      font-size: 2.1rem;
    }
    p{
      font-size: 1.25rem;
    }
  }
}



.Intro{
  box-sizing: border-box;
  width: 60%;
  margin: 0 20% 0 20%;
  padding: 1.2rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;


  @media (max-width:700px){
    padding: .4em;
    width: 100%;
    margin: 0;
  }
}
.Intro:hover{
  outline: 2px solid plum;
}
