.header{
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin: 0 0 10% 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    overflow: hidden;
}
.toggle{
    display: none;
}
.navbar{
    width: 85%;
    margin: 0 7.5% 0 7.5%;
    padding: .3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.1s ease;
}

.navigation{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0;
    padding: 0;
}



.scrolled{
    z-index: 1000;
    box-shadow: 1px 2px 10px rgba(0,0,0,.25);
    width: 100%;
    margin: 0;
    left: 0;
    top: 0;
}


.blogTitle{
    text-align: center;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    p{
        margin: 0;
        padding: 0;
    }
}
@media(max-width:700px){

    .navigation{
        display: none;
    }
    .navbar{
        width: 100%;
        margin: 10px 0 0 0;
    }
    .scrolled{
        margin: 0;
    }



    .blogTitle{
        width: 60%;
    }

    .toggle{
        display: block;
    }
}
