.Wrapper{
    box-sizing: border-box;
    width: 85%;
    margin: 2em 7.5% 0 7.5%;
    max-width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    min-height: 8vh;
    transition: all 0.3s ease-in-out;
    background-color: transparent;

}

.Nav{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0;
    padding: 0;

}



.Scrolled{
    z-index: 1000000000;
    box-shadow: 1px 2px 18px rgba(0,0,0,.25);
    position: fixed;
    height: 5vh;
    width: 100%;
    margin: 0;
    left: 0;
    top: 0;
    background-color: #eee;
}


.BlogTitle{
    text-align: center;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    p{
        margin: 0;
        padding: 0;
    }
}
@media(max-width:700px){

    .Nav{
        display: none;
    }

    .Wrapper{
        min-height: 5vh;
        height: 5vh;
        width: 100%;
        margin: 0;
    }

    .BlogTitle{
        width: 60%;
    }
}