.Wrapper{
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    background-color: #191b1f;;
    color: #eee;
}

.Content{
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    padding: 2rem;
    box-sizing: border-box;
    margin-top: 8vh;
}