.Wrapper{
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    background-color: #191b1f;;
    color: #eee;
}

.Content{
    box-sizing: border-box;
    width: 80%;
    margin: 8vh 10% 0 10%;
    max-width: 100%;
    min-height: 100%;
    padding: 2rem;
    box-sizing: border-box;
    display: grid;
}
.Content h1{
    font-size: 3rem;
}
.Content a:hover{
    text-decoration: none;
    color: inherit;
    text-align: center;
}
.Content p{
    font-size: 1.2rem;
}
.Content img{
    width: 100%;
    height: 100%;
}

@media (max-width:900px){
    .Content{
        width: 100%;
        margin: 0;
        margin-top: 8vh;
    }
    .Content h1{
        font-size: 3rem;
    }
    .Content p{
        font-size: 1rem;
    }
    img{
        width: 100%;
        height: 100%;
    }
}
