.Header{
    width:100%;
    max-width:100%;
    min-height:8vh;
    background-color: #090a0b;
    color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
.Header a{
    text-decoration: none;
    text-transform: none;
    color: inherit;
    font-size: 1.2rem;
    margin: 0;
}