.Wrapper{
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    border: 1px solid red;
    margin: 0;
    min-height: 100vh;
    /* padding: .4em; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Carousel{
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    border: 1px solid gold;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 1em;
    /* padding: .5em; */
    min-height: 60vh;
}