.Wrapper{
    border: 1px lightgray solid;
    box-sizing: border-box;
    padding: .5rem;
    width: 20em;
    max-width: 100%;
    height: 100%;
}
.Wrapper:hover{
    background-color: aliceblue;
}
.Blog{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}
.BlogContent{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: .93rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    /* border: 2px dashed indianred; */
}
.BlogTitle{
    /* border: 1px dashed darkcyan; */
    text-align: center;
    word-wrap: none;
    margin: .3em;
}
.BlogTitle a{
    color: inherit;
    text-decoration: none;
}
.BlogTitle a p{
    font-size: 1.52em;
    font-weight: 600;
}
.BlogImg img{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: .6em;
    /* margin-bottom: 10px; */
}

.BlogFooter{
    box-sizing: border-box;
    font-size: .9em;
    /* border: 1px dashed hotpink; */
    display: flex;
    justify-content: space-around;

}

.Tags{
    width: 100%;
    box-sizing: border-box;
    /* border: 1px solid hotpink; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Tags span{
    background: lightcyan;
}

@media(max-width:700px)
{
    .Wrapper{
        width: 100%;
        padding: 0;
        margin: 0;
        height: 9em;
        max-height: 10em;
    }
    .BlogContent{
        font-size: .87em;
        margin: 0;
        padding: 0;
    }

    .Blog{
        flex-flow: row;
    }
}
