.Header{
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightgray;
    z-index: 100;
    display: flex;
    align-items: center;
    
}