.Wrapper{
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  height: 70vh;
  max-width: 100%;
  background-image: url(./../images/svg/Flat-Mountains.svg);
  // background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;;
  // background-color: #F4F6F6;
  min-height: calc(100vh - 360px);
}

.Home{
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  @media (max-width:700px){
    .Home{
      flex-flow: column;
    }
  }
}


.Info{
  box-sizing: border-box;
  width: 50%;
  margin: 0 25% 0 25%;
  text-align: center;

  @media (max-width:700px) {
    width: 80%;
    margin: 0 10% 0 10%;
  }
}

.Brand {
  h1{
    font-size: 3.4rem;
  }

  p{
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  @media (max-width:700px) {
    h1{
      font-size: 2.7rem;
      line-height: 2.7rem;

    }
    p{
      font-size: 1.2rem;
    }
  }
}


.Intro{
  box-sizing: border-box;
  width: 60%;
  margin: 0 20% 0 20%;
  padding: 1.2rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

  p{
    font-size: 1.3em;
    line-height: 1.3em;
  }

  @media (max-width:700px){
    padding: .4em;
    width: 100%;
    margin: 0;
  }
}
.Intro:hover{
  outline: 2px solid plum;
}
