@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('./../fonts/Roboto/Roboto-Regular.ttf');
  font-display: swap;
  letter-spacing: 5px;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('./../fonts/Poppins/Poppins-Regular.ttf');
  font-display: swap;
  letter-spacing: 5px;
}

//Variables
@import './variables.scss';

//hover
@import './hover.scss';

//Global
@import './global.scss';

// Page Components
@import './components/about.scss';
@import './components/blog.scss';
@import './components/contact.scss';
@import './components/home.scss';
@import './components/navbar.scss';
@import './components/projects.scss';

//Helpers
@import './components/blogcard.scss';

// Templates
@import './templates/blogtemplate.scss';
@import './templates/elements.scss';
