@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
        url('./../fonts/Roboto/Roboto-Regular.ttf');
    font-display: swap;
    letter-spacing: 5px;
}

//AOS
@import './../../node_modules/aos/src/sass/aos.scss';

//Variables
@import './variables.scss';

//hover
@import './hover.scss';

//style.css
@import './style.scss';

// Page Components
@import './components/about.scss';
@import './components/blog.scss';
@import './components/contact.scss';
@import './components/footer.scss';
@import './components/home.scss';
@import './components/navbar.scss';
@import './components/projects.scss';

//Helpers
@import './helpers/blogcard.scss';

// Templates
@import './templates/blogtemplate.scss';
@import './templates/elements.scss';