
/* Declare all fonts */
@font-face {
  font-family: "Poppins";
  src: url('./../fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: "Roboto";
  src: url('./../fonts/Roboto/Roboto-Regular.ttf');
}


/* Css variables */
 :root{
   --landing-bg: #8EC5FC;
   --landing-gradient:linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
   --hover-color:#8EC5FC;

   --dark-landing: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   --second-dark-landing:linear-gradient(to right, #485563, #29323c);
   --third-dark-landing:linear-gradient(to right, #606c88, #3f4c6b); /*ash https://uigradients.com/#Ash */
   --fourth-dark-landing:linear-gradient(to right, #232526, #414345); /* https://uigradients.com/#MidnightCity  */


   --transition-time: 0.5s;
   --bg-blog:url('./../images/sample.jpg');
  

   --normal-background:aliceblue;
   --normal-text:black;

   --dark-background:#2d2d2d;
   --dark-text: 	#bdbdbd;
 }

 /* Global styles */
 h1,h2,h3,h4,h5,h6{
   margin: 0;
 }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: Roboto;
}

.active{
  color:red
}

.Wrapper{
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  margin-bottom: 2%;
}
.Wrapper:last-child{
  margin-bottom: 0;
}






