@import './../helpers//variables.scss';


.blog{
    box-sizing: border-box;
    width: 75%;
    margin: 0 12.5% 0 12.5%;
    max-width: 100%;
    min-height: 100%;
    padding: 1rem;
    font-size: $body-font-size;
    line-height: $line-height;
    h1{
        font-size: $h1;font-weight: bold;
    }
    h2{
        font-size: $h2;color:$heading-font-color;font-weight: bold;
    }

    h3{font-size: $h3;color:$heading-font-color;}
    h4{font-size: $h4;} 
    h5{font-size: $h5;}


    @media screen and (max-width:$mobile) {
        h1{font-size: $h1-mobile;};h4{font-size: $h4-mobile;} 
        h2{font-size: $h2-mobile;};h5{font-size: $h5-mobile;}
        h3{font-size: $h3-mobile;};
    }
}



/* Blog Info */
.info{
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid lightgray;
    .metadata{
        box-sizing: border-box;
        padding: .5rem;
        time,span{
            border-bottom: 1px solid plum;
            margin: 7px;
        }
        .twitter{
            margin: 1rem;
            &:hover{
                color: #00acee ;
            }
        }
    }

    .tags{
        span{
            margin: .4rem;
        }
    }
    
}


// Blog article content

.article{
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding: 1.67em;

    //autolink headers
    h1 .anchor,h2 .anchor ,h3 .anchor {

        &:hover{
            background: none;
            visibility: visible;
            h1 .anchor svg,h2 .anchor svg,h3 .anchor svg {
                visibility: visible;
            }
        }
    }
    h1 .anchor svg,h2 .anchor svg,h3 .anchor svg {
        color: red;
        margin: 0 5px 0 0;
    }

    p{
        margin: 0 0 1.15rem;
        font-size: $body-font-size;
        line-height: $line-height;
    }

    pre{
        font-family: $code-font-family;
        font-size: $code-size;
    }

    hr{
        width: 100%;
        margin: 30px 0 30px 0 ;
    }
    a{
        color: #a97380;
    }
    a:hover{
        background: #b960b2;
        color: black;
    }

    //http://sparkandshine.net/en/insert-images-with-captions-in-markdown/
    p em{
        font-style: normal;
        display: inherit;
        text-align: center;
        font-size: 90%;
    }


    ul{
        box-sizing: border-box;
        list-style-type: square;
        list-style-position: inside;
        border: 1px solid #b960b2;
        border-radius: 10px;
        padding: .5rem;
    }
    ol{
        box-sizing: border-box;
        list-style-position: inside;
        border: 1px solid #b960b2;
        border-radius: 10px;
        padding: .5rem;
    }

    code{
        box-sizing: border-box;
        padding: .35rem;
    }
}

.reads{
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 1rem;
    margin: 1rem 0 0 0;

    a{
        font-size: 1.1rem;
        &:hover{
            color: palevioletred;
        }
    }
}

/* Media queries */
@media (max-width:900px){
    .blogshare{
        width: 80%;
        margin: 1em 20% 1em 0;
    }
    .blog{
        box-sizing: border-box;
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: .6rem;
    }

    .blog img{
        width: 100%;
        margin: 0;
        height: 100%;
    }

    .article{
        padding: 0;
    }
}
