.blog {
    box-sizing: border-box;
    width: 75%;
    margin: 0 12.5% 0 12.5%;
    max-width: 100%;
    min-height: 100%;
    padding: 1rem;
    line-height: $line-height;

    h1 {
        font-size: $h1;
        font-weight: bold;
    }

    h2 {
        font-size: $h2;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    h3 {
        font-size: $h3;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    h4 {
        font-size: $h4;
    }

    h5 {
        font-size: $h5;
    }

    //paperclip link
    .clip {
        margin: 0 .6rem 0 0;
        fill: #eebe62;
    }


    @media screen and (max-width:$mobile) {
        h1 {
            font-size: $h1-mobile;
        }

        h4 {
            font-size: $h4-mobile;
        }

        h2 {
            font-size: $h2-mobile;
        }

        h5 {
            font-size: $h5-mobile;
        }

        h3 {
            font-size: $h3-mobile;
        }
    }
}



/* Blog Info */
.info {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-flow: column;
    border-bottom: 1px solid darkgrey;

    .back {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: .5rem;

        p {
            font-size: $body-font-size;
        }
    }

    .metadata {
        box-sizing: border-box;
        padding: .5rem;

        .meta {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            time,
            span {
                border-bottom: 1px solid plum;
                margin: 7px;
            }
        }

        .twitter {
            margin: .5rem;

            &:hover {
                color: #00acee;
            }
        }
    }



}


// Blog article content

.article {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding: 1.67em;

    pre {
        font-size: 1.12rem;
    }

    code {
        background-color: rgba(204, 211, 218, .7);
        border-radius: 3px;
        margin: .2rem 0 .2rem 0;
        font-size: 1rem;
        color: black;
        padding: .2rem;
    }

    p a {
        color: $bloglink;

        &:hover {
            border-bottom: 1px solid red;
        }
    }

    p {
        margin: 0 0 1rem 0;
        font-size: $body-font-size;
        // line-height: $line-height;
    }

    hr {
        width: 100%;
        margin: 30px 0 30px 0;
    }


    //http://sparkandshine.net/en/insert-images-with-captions-in-markdown/
    .caption {
        font-style: normal;
        display: inherit;
        text-align: center;
        font-style: italic;
        margin: 0 0 .5rem 0;

        p {
            font-size: .9rem;
            color: $bloglink;
        }
    }


    ul {
        box-sizing: border-box;
        padding: .5rem 0 0 2rem;
    }

    ol {
        box-sizing: border-box;
        padding: .5rem 0 0 2rem;
    }

}

.blog-nav {
    border-top: 1px solid $tag;
    margin-top: .7rem;

    .reads {
        box-sizing: border-box;
        width: 100%;
        margin: 1rem 0 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;


        a {
            width: 100%;
            padding: .7rem;
            margin: 0 .7rem 0 0;
            text-align: center;
            font-size: 1rem;
            border: 1px solid $bloglink;

            &:hover {
                outline: 3px solid $bloglink;
            }
        }
    }
}

.side {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 25%;
    width: 14%;
    max-width: 100%;
    // overflow-y: scroll;
    max-height: 40vh;

    p {
        font-size: 1rem;
        text-align: center;
    }

    ul {
        list-style-type: disc;
        list-style-position: inside;
        margin: 1rem 0 0 1rem;

        li {
            font-size: .8rem;
            margin: 0 0 1rem 0;

            &:hover {
                color: #1967D2
            }
        }
    }
}

.blog-active {
    color: $heading-font-color;
}

/* Media queries */
@media (max-width:$tablet) {
    .blogshare {
        width: 80%;
        margin: 1em 20% 1em 0;
    }

    .blog {
        box-sizing: border-box;
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: .6rem;
    }

    .blog img {
        width: 100%;
        margin: 0;
        height: 100%;
    }

    .article {
        padding: 0;
    }

    .reads {
        flex-flow: column;

        div {
            margin: .6rem;
        }
    }

    .side {
        position: relative;
        width: 100%;
        margin: 0 0 1rem 0;
        padding: 0;
        border: 1px solid white;

        ul {
            list-style-position: inside;
            padding: .2rem;

            li {
                font-size: 1.1rem;
            }
        }
    }
}


//----------------
// code and copy button styles
//----------------
.code {
    text-align: left;
    margin: 1em 0;
    padding: 0.5em;
    overflow-x: auto;
    border-radius: 3px;

    position: relative;

    & .token-line {
        line-height: 1.3em;
        height: 1.3em;
    }
}

.copycode {
    position: absolute;
    right: 0.25rem;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    padding: 0.25rem;
    margin: 0;
    opacity: 0.79;

    &:hover {
        opacity: 1;
        background: darkcyan;
    }
}

.lineno {
    display: inline-block;
    width: 2em;
    user-select: none;
    opacity: 0.3;
}