.blog-note {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #eebe62;
    padding: .6rem;
    margin: 1rem 0 1rem 0;
    color: black;
}

.quote {
    border-left: .25em solid #dfe2e5;
    color: #6a737d;
    padding: 0 1em;
}

.heading {
    border-bottom: 1px solid rgba(183, 118, 185, 0.507);

    .pin {
        cursor: pointer;
        margin: 0 .5rem 0 0;
        color: inherit;
        line-height: 1;
        opacity: 0.12;
    }

    &:hover .pin {
        opacity: 1;
    }

}