.Wrapper{
    box-sizing: border-box;
    width: 85%;
    margin:0 7.5% 8vh 7.5%;
    height: 100%;
    max-width: 100%;
    padding-top: 8vh;
    min-height: calc(100vh - 360px);

}

.About{
    box-sizing: border-box;
    width: 98%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(49%,1fr));
    gap: 1em;

}


.Info{
    box-sizing: border-box;
    width: 100%;
    /* border: 1px solid red; */
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(50%,1fr));
    gap: 1em;
    padding: 1em;
}
.Photo{
    box-sizing: border-box;
    width: 100%;
    padding: .7em;
    /* border: 1px solid gray; */
    height: 100%;
}

.Desc{
    box-sizing: border-box;
    width: 100%;
    padding: .7em;
    /* border: 1px solid gray; */
    height: 100%;
    writing-mode: horizontal-tb;
}
.Desc p{
    line-height: 1.2rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
}
.Skills{
    box-sizing: border-box;
    width: 100%;
    padding: .7em;
    /* border: 1px solid navy; */
    height: 100%;
    list-style-type: none;
}

@media (max-width:700px){
    .Wrapper{
        width: 100%;
        margin: 0;
    }
}