.Wrapper{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: calc(100vh - 360px);
    padding: .6em;
}
.Wrapper a{
    text-decoration:none;
    text-transform:none;
    margin:0;
    padding:0;
}
.Blogs{
    box-sizing: border-box;
    display: grid;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 1em;
}
