.Wrapper{
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  font-family: Poppins;
  background-image: var(--landing-gradient);
  color: black;
}

@media (max-width:699px){
  .Home{
    flex-flow: column;
  }
}
.Home{
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aliceblue; */
  height: 100%;
}

.Arrow{
  box-sizing: border-box;
  height: 4vh;
  font-size:1.1rem ;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 1.12em;
}

.Name{
  box-sizing: border-box;
  padding: 5rem;
}
/*  */
.Brand h1{
  font-size: 4rem;
}

.Brand p{
  text-align: center;
  font-size: 1.2em;
  line-height: 1.2em;
}
.Intro{
  box-sizing: border-box;
  width: 100%;
  padding: 1.2rem;
  border: 1px solid black;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.Intro:hover{
  border: 1px solid white;
}
.Intro p{
  font-size: 1.2em;
  line-height: 1.2em;
} 