.Wrapper{
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    min-height: 8vh;
    transition: all 0.6s ease-out;
}
.Menu{
    display: none;
    cursor: pointer;
}

.Nav{
    height: 8vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.Scrolled{
    position: fixed;
    z-index: 1000000000;
    box-shadow: 1px 2px 18px rgba(0,0,0,.25);
    height: 8vh;
}

@media(max-width:900px){
    .Menu{
        display: block;
    }
    .Nav{
        display: none;
    }
}