.Projects{
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-color: aliceblue;
    padding: 1rem;
    font-family: Poppins;;

}

.MainProjects{
  box-sizing: border-box;
  border: 1px dashed darkblue;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: minmax(300px,auto);
  gap: .4em;
  padding: .3rem;
}