
/* Declare all fonts */
@font-face {
  font-family: "Poppins";
  src: url('./../fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: "Roboto";
  src: url('./../fonts/Roboto/Roboto-Regular.ttf');
}


/* Css variables */
 :root{
   --landing-bg: #8EC5FC;
   --landing-gradient:linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
   --hover-color:#8EC5FC;

   --normal-background:aliceblue;
   --normal-text:black;

   --dark-background:#2d2d2d;
   --dark-text: 	#bdbdbd;
 }

 /* Global styles */
 h1,h2,h3,h4,h5,h6{
   margin: 0;
 }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: Roboto;
}






